PORT=4000
DATABASE_URL="postgresql://postgres.dkzvbprpmtntlmalzyvl:BarbeariaGalileu@aws-1-us-east-1.pooler.supabase.com:5432/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://postgres.dkzvbprpmtntlmalzyvl:BarbeariaGalileu@aws-1-us-east-1.pooler.supabase.com:5432/postgres?pgbouncer=false&sslmode=require"
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,https://barbearia-galileu-st53.vercel.app,https://barbearia-galileu-3229.vercel.app


# WhatsApp Cloud API (Meta)
WHATSAPP_TOKEN=EAAGxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WHATSAPP_PHONE_NUMBER_ID=123456789012345
# WHATSAPP_API_VERSION=v18.0

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-1757167386966230-111815-8a555519b21e8b22159f991cc9a8fa78-617950468
MP_PUBLIC_KEY=APP_USR-8d90a8eb-93d0-4f6d-8757-ceb40fdc09a5
MP_WEBHOOK_URL=https://overpowerfully-templelike-eldora.ngrok-free.dev/api/webhook-pagamento

